In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Extract the data
# This script extracts data from CSV files and handles errors during the process.
# It uses pandas for data manipulation and numpy for numerical operations.

data_path = "data"

def extract_data(file_name):
    try:
        file_path = os.path.join(data_path, file_name)
        df = pd.read_csv(file_path)
        return df
    except Exception as e:
        print(f"Error during extraction {file_name}: {str(e)}")
        return None

In [3]:
customer_data = extract_data("customer_usage.csv")

prod_data = extract_data("energy_production.csv")

maintenace_data = extract_data("maintenance_reports.csv")

solar_data = extract_data("solar_installations.csv")

In [4]:
customer_data.head()

,usage_id,customer_id,date,peak_hours_kwh,off_peak_kwh,total_consumption,monthly_bill
0,USE-4001,CUST-501,2023-03-01,117,200,317,103.44
1,USE-4002,CUST-502,2023-03-02,85,120,205,72.55
2,USE-4003,CUST-503,2023-03-03,142,149,291,94.85
3,USE-4004,CUST-504,2023-03-04,134,129,263,89.47
4,USE-4005,CUST-505,2023-03-05,123,210,333,108.71

In [5]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   usage_id           100 non-null    object
 1   customer_id        100 non-null    object
 2   date               100 non-null    object
 3   peak_hours_kwh     100 non-null    int64
 4   off_peak_kwh       100 non-null    int64
 5   total_consumption  100 non-null    int64
 6   monthly_bill       100 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.6+ KB

In [6]:
def transform_customer_usage(df):
    try:
        df['billing_date'] = pd.to_datetime(df['date'])
        df.drop('date', axis=1, inplace=True)
        return df
    except Exception as e:
        print(f"Error during customer usage transformation: {str(e)}")
        return None

In [7]:
t_customer = transform_customer_usage(customer_data)
t_customer.head()

,usage_id,customer_id,peak_hours_kwh,off_peak_kwh,total_consumption,monthly_bill,billing_date
0,USE-4001,CUST-501,117,200,317,103.44,2023-03-01
1,USE-4002,CUST-502,85,120,205,72.55,2023-03-02
2,USE-4003,CUST-503,142,149,291,94.85,2023-03-03
3,USE-4004,CUST-504,134,129,263,89.47,2023-03-04
4,USE-4005,CUST-505,123,210,333,108.71,2023-03-05

In [8]:
t_customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   usage_id           100 non-null    object
 1   customer_id        100 non-null    object
 2   peak_hours_kwh     100 non-null    int64
 3   off_peak_kwh       100 non-null    int64
 4   total_consumption  100 non-null    int64
 5   monthly_bill       100 non-null    float64
 6   billing_date       100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 5.6+ KB

In [9]:
def transform_energy_production(df):
    try:
        df['production_date'] = pd.to_datetime(df['date'])
        df.drop('date', axis=1, inplace=True)
        df.drop('time', axis=1, inplace=True)
        return df
    except Exception as e:
        print(f"Error during customer usage transformation: {str(e)}")
        return None

In [10]:
t_production = transform_energy_production(prod_data)

In [11]:
t_production.head()

,production_id,installation_id,kwh_produced,temperature,weather_condition,production_date
0,PROD-2001,INST-1001,2.23,75,Sunny,2023-03-01 00:00:00
1,PROD-2002,INST-1004,1.98,75,Cloudy,2023-03-01 01:00:00
2,PROD-2003,INST-1001,2.11,76,Cloudy,2023-03-01 02:00:00
3,PROD-2004,INST-1001,1.79,75,Cloudy,2023-03-01 03:00:00
4,PROD-2005,INST-1001,1.47,72,Partly Cloudy,2023-03-01 04:00:00

In [12]:
t_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   production_id      100 non-null    object
 1   installation_id    100 non-null    object
 2   kwh_produced       100 non-null    float64
 3   temperature        100 non-null    int64
 4   weather_condition  100 non-null    object
 5   production_date    100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 4.8+ KB

In [13]:
def transform_maintenance_reports(df):
    try:
        df['production_date'] = pd.to_datetime(df['date'])
        df.drop('date', axis=1, inplace=True)
        conditions = [df['issue_type'].str.contains('Cleaning', case=False), 
                    df['issue_type'].str.contains('Replacement', case=False)]
        choices = ['Routine', 'Corrective Maintenance']
        df['maintenace_type'] = np.select(conditions, choices, default='Preventive Maintenance')
        df.drop('issue_type', axis=1, inplace=True)
        df['maintenace_type'] 
        return df
    except Exception as e:
        print(f"Error during customer usage transformation: {str(e)}")
        return None

In [14]:
t_maintenance = transform_maintenance_reports(maintenace_data)
t_maintenance.head()

,report_id,installation_id,technician,resolution_time_min,parts_replaced,cost,production_date,maintenace_type
0,MNT-3001,INST-1003,Tom Wilson,157,Connector C-200,324.37,2023-01-01,Routine
1,MNT-3002,INST-1001,Emily Davis,137,Panel B-50,257.64,2023-01-02,Corrective Maintenance
2,MNT-3003,INST-1001,John Smith,159,Panel B-50,401.13,2023-01-03,Routine
3,MNT-3004,INST-1002,Sarah Lee,123,Inverter A-100,95.95,2023-01-04,Preventive Maintenance
4,MNT-3005,INST-1004,John Smith,98,Connector C-200,381.58,2023-01-05,Corrective Maintenance

In [15]:
t_maintenance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   report_id            100 non-null    object
 1   installation_id      100 non-null    object
 2   technician           100 non-null    object
 3   resolution_time_min  100 non-null    int64
 4   parts_replaced       79 non-null     object
 5   cost                 100 non-null    float64
 6   production_date      100 non-null    datetime64[ns]
 7   maintenace_type      100 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 6.4+ KB

In [16]:
def transform_solar_installations(df):
    try:
        df['installation_date'] = pd.to_datetime(df['date'])
        df.drop('date', axis=1, inplace=True)

        df['street'] = df['location'].str.split(',').str[0]
        df['city'] = df['location'].str.split(',').str[1]
        df['state'] = df['location'].str.split(',').str[2]

        df.drop('location', axis=1, inplace=True)

        return df
    except Exception as e:
        print(f"Error during customer usage transformation: {str(e)}")
        return None

In [17]:
t_solar = transform_solar_installations(solar_data)

t_solar.head()

,installation_id,customer_id,panel_type,capacity_kw,installer_name,orientation,tilt_angle,installation_date,street,city,state
0,INST-1001,CUST-502,Polycrystalline,3.84,EcoEnergy Pros,South,15,2023-01-01,426 Main St,Cambridge,MA
1,INST-1002,CUST-504,Thin-film,3.72,SunTech Installers,East,39,2023-01-02,726 Elm St,Cambridge,MA
2,INST-1003,CUST-502,Polycrystalline,5.15,EcoEnergy Pros,South-East,32,2023-01-03,912 Oak Ave,Newton,MA
3,INST-1004,CUST-502,Thin-film,5.11,EcoEnergy Pros,East,31,2023-01-04,928 Elm St,Somerville,MA
4,INST-1005,CUST-502,Polycrystalline,5.45,EcoEnergy Pros,South-East,19,2023-01-05,818 Elm St,Boston,MA

In [18]:
t_solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   installation_id    100 non-null    object
 1   customer_id        100 non-null    object
 2   panel_type         100 non-null    object
 3   capacity_kw        100 non-null    float64
 4   installer_name     100 non-null    object
 5   orientation        100 non-null    object
 6   tilt_angle         100 non-null    int64
 7   installation_date  100 non-null    datetime64[ns]
 8   street             100 non-null    object
 9   city               100 non-null    object
 10  state              100 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 8.7+ KB

In [23]:
customer_data = extract_data("customer_usage.csv")

prod_data = extract_data("energy_production.csv")

maintenace_data = extract_data("maintenance_reports.csv")

solar_data = extract_data("solar_installations.csv")

def transform_data(customer_data: pd.DataFrame, prod_data: pd.DataFrame, maintenace_data: pd.DataFrame, solar_data: pd.DataFrame):
    t_customer = transform_customer_usage(customer_data)
    t_production = transform_energy_production(prod_data)
    t_maintenance = transform_maintenance_reports(maintenace_data)
    t_solar = transform_solar_installations(solar_data)
    return t_customer, t_production, t_maintenance, t_solar

In [24]:
t_customer, t_production, t_maintenance, t_solar = transform_data(customer_data, prod_data, maintenace_data, solar_data)

In [25]:
t_customer.head()

,usage_id,customer_id,peak_hours_kwh,off_peak_kwh,total_consumption,monthly_bill,billing_date
0,USE-4001,CUST-501,117,200,317,103.44,2023-03-01
1,USE-4002,CUST-502,85,120,205,72.55,2023-03-02
2,USE-4003,CUST-503,142,149,291,94.85,2023-03-03
3,USE-4004,CUST-504,134,129,263,89.47,2023-03-04
4,USE-4005,CUST-505,123,210,333,108.71,2023-03-05

In [21]:
# Load the data
def load_data(df):
    pass